<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoading()) {
        <tr>
          <td colspan="6">
            <div class="flex justify-center py-4">
              <app-circular-progress-indicator size="lg" label="Loading countries" />
            </div>
          </td>
        </tr>
      } @else {
        @for (country of countries(); track country.uuid; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ country.flag }}</td>
            <td>
              <img [src]="country.flagSvg" [alt]="country.name + ' flag'" class="h-6" />
            </td>
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td>
              <span class="badge badge-secondary">{{ country.population | number }}</span>
            </td>
            <td>
              <a [routerLink]="['/country/by', country.cca2]" class="link-primary cursor-pointer">
                More info
              </a>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="6" class="text-center">No countries found</td>
          </tr>
        }
      }
    </tbody>
  </table>
</section>
